@import "./variables";

.header {
  background-color: var(--primary);
  padding: map-get($spacing, "md");

  .nav-item {
    color: var(--text);
    &:hover {
      color: var(--secondary);
    }
  }
}

.footer {
  @extend %text-center !optional;
  background-color: var(--background);
  color: var(--text);
  display: flex;
  justify-content: center;
  padding: map-get($spacing, "md");
}
