@import "./themes";

$primary-color: map-get($light-theme-colors, "primary");
$secondary-color: map-get($light-theme-colors, "secondary");
$footer-color: #505151;
$font-family: "Roboto", sans-serif;
$spacing-unit: 8px;

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}
