<div class="container mx-auto p-4">
  <h1 *ngIf="!isLoading" class="text-3xl font-bold mb-4">{{ post.title }}</h1>
  <p *ngIf="!isLoading" class="text-gray-700">{{ post.body }}</p>

  <div *ngIf="isLoading" class="wave-loader">
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
  </div>

  <div *ngIf="error" class="text-red-500">{{ error }}</div>

  <div *ngIf="!isLoading && !error" class="my-6">
    <button
      (click)="openUpdateModal()"
      class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">
      Update Post
    </button>
    <button
      (click)="openDeleteModal()"
      class="bg-red-500 text-white px-4 py-2 rounded hover:bg-red-600 ml-2">
      Delete Post
    </button>
  </div>

  <app-post-edit
    *ngIf="showUpdateModal"
    [post]="post"
    (postUpdated)="onPostUpdated()"
    (modalClosed)="closeUpdateModal()"></app-post-edit>

  <div *ngIf="showDeleteModal" class="modal">
    <div class="modal-content">
      <span class="close" (click)="closeDeleteModal()">&times;</span>
      <h2>Delete Post</h2>
      <p>Are you sure you want to delete this post?</p>
      <button (click)="confirmDelete()"
        class="bg-red-500 text-white px-4 py-2 rounded hover:bg-red-600 ml-2 ">Delete</button>
      <button (click)="closeDeleteModal()"
        class="bg-gray-500 hover:bg-gray-700 text-white py-2 px-4 ml-2 rounded">Cancel</button>
    </div>
  </div>

  <a [routerLink]="['/posts']" class="text-blue-500 hover:underline">Back to
    Posts</a>
</div>
