<div class="main-content">
  <div *ngIf="loading$ | async" class="loading">
    <p>Loading tasks...</p>
  </div>

  <div *ngIf="error$ | async as error" class="error">
    <p>Error: {{ error }}</p>
  </div>

  <ng-container *ngIf="tasks.length === 0" class="empty-board">
    <p>This board is empty. Create a new column to get started.</p>
    <button class="add-column">+ Add New Column</button>
  </ng-container>

  <ng-container *ngIf="tasks.length > 0">
    <div class="tasks-board">
      <ng-container *ngFor="let column of getColumns()">
        <div class="column">
          <div class="flex items-center mb-6">
            <span class="status-dot"
              [ngClass]="getColumnColorClass(column.name)"></span>
            <h3>{{ column.name }} ({{ getTaskCountByStatus(column.name) }})</h3>
          </div>
          <ul>
            <ng-container *ngFor="let task of getTasksByStatus(column.name)">
              <li [ngClass]="task.status" class="list">
                <h4>{{ task.title }}</h4>
                <p class="subtask">
                  {{ getCompletedSubtaskCount(task) }} of {{
                  task.subtasks.length }} subtasks
                </p>
              </li>
            </ng-container>
          </ul>
        </div>
      </ng-container>
    </div>
  </ng-container>
</div>
