.main-content {
  @apply bg-[#F4F7FD] min-h-screen p-5;
}

.empty-board {
  @apply flex flex-col items-center justify-center h-full;
}

.add-column {
  @apply bg-[#6c63ff] text-white border-none rounded-md px-4 py-2.5 cursor-pointer;
}
.subtask {
  @apply text-[#828FA3];
}

.add-column:hover {
  @apply bg-[#5a52e8];
}

.tasks-board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.column h3 {
  margin-bottom: 10px;
}

.column ul {
  list-style-type: none;
  padding: 0;
}

.column li {
  @apply p-5 mb-4 rounded-xl shadow-md;
}
.list {
  @apply bg-white;
}
.column li.visible {
  display: block;
}

.column li.hidden {
  display: none;
}
