<header class="header">
  <nav class="nav">

    <img src="/assets/images/log.jpg" class="logo" alt="logo">

    <ul class="nav-list">
      <li class="nav-item">
        <a routerLink="/home" routerLinkActive="active">Home</a>
      </li>
      <li class="nav-item">
        <a routerLink="/products" routerLinkActive="active">Products</a>
      </li>
      <li class="nav-item">
        <a routerLink="/about" routerLinkActive="active">About</a>
      </li>

    </ul>

    <div class="theme-toggle">
      <input type="checkbox" id="toggle" class="theme-toggle-checkbox"
        (change)="toggleTheme()">
      <label for="toggle" class="theme-toggle-label">
        <span class="theme-toggle-ball"></span>
      </label>
    </div>

  </nav>
</header>
