<div class="modal-container" *ngIf="task" (click)="onContainerClick($event)">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <h3>{{ task.title }}</h3>
    <p>{{ task.description }}</p>

    <div class="subtasks">
      <h4>Subtasks ({{ getCompletedSubtaskCount() }} of {{ task.subtasks.length
        }})</h4>
      <ul>
        <li *ngFor="let subtask of task.subtasks">
          <input type="checkbox" [checked]="subtask.isCompleted"
            (change)="toggleSubtask(subtask)" class="input-create" />
          {{ subtask.title }}
        </li>
      </ul>
    </div>

    <div class="task-status">
      <label for="status">Current Status</label>
      <select id="status" [(ngModel)]="task.status"
        (change)="updateTaskStatus()" class="input-create">
        <option value="todo">Todo</option>
        <option value="doing">Doing</option>
        <option value="done">Done</option>
      </select>
    </div>
  </div>
</div>
