.modal-background {
  @apply fixed top-0 left-0 w-screen h-screen bg-black bg-opacity-50 flex justify-center items-center z-50;
}

.modal-content {
  @apply bg-white p-8 rounded-lg w-11/12 max-w-md max-h-[90vh] overflow-y-scroll shadow-md;
}

.modal-content::-webkit-scrollbar {
  @apply w-0 hidden;
}

.modal-content {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

label {
  display: block;
  font-size: 0.875rem;
  margin-bottom: 0.5rem;
}

input,
textarea,
select {
  @apply w-full p-3 mb-4 border border-gray-300 rounded-md;
}

textarea {
  height: 100px;
}

.subtask {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.subtask input {
  flex: 1;
  margin-right: 0.5rem;
}

button[type="button"] {
  font-size: 1rem;
  cursor: pointer;
}

button[type="submit"] {
  @apply bg-[#6c63ff] text-white p-2 rounded-full w-full border-none text-base cursor-pointer mt-4;
}
.AddNewSubtask {
  @apply bg-[#EFEFF9] text-[#635FC7] w-full px-3 py-2 rounded-full;
}
