<div class="modal-background" (click)="closeModal()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <h2>Add New Task</h2>
    <form (ngSubmit)="createTask()">
      <label for="title">Title</label>
      <input
        id="title"
        type="text"
        placeholder="e.g. Take coffee break"
        [(ngModel)]="task.title"
        name="title"
        class="input-create" />

      <label for="description">Description</label>
      <textarea
        id="description"
        placeholder="e.g. It’s always good to take a break. This 15-minute break will recharge the batteries a little."
        [(ngModel)]="task.description"
        name="description"
        class="input-create"></textarea>

      <div *ngFor="let subtask of subtasks; let i = index" class="subtask">
        <input
          type="text"
          [(ngModel)]="subtask.title"
          name="subtask{{i}}"
          placeholder="e.g. Make coffee"
          class="input-create"
          (focus)="handleFocus(i)" />
        <button type="button" (click)="removeSubtask(i)">X</button>
      </div>

      <button type="button" (click)="addSubtask()" class="AddNewSubtask my-3">
        + Add New Subtask
      </button>

      <label for="status">Status</label>
      <select
        id="status"
        [(ngModel)]="task.status"
        name="status"
        class="task-option">
        <option value="Todo">Todo</option>
        <option value="Doing">Doing</option>
        <option value="Done">Done</option>
      </select>

      <button type="submit">Create Task</button>
    </form>
  </div>
</div>
