@import "../../../styles.scss";

.landing-page-container {
  font-family: "Arial", sans-serif;
  color: var(--text);
  background-color: var(--background);
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--primary);
  color: white;
  text-align: center;

  .hero-content {
    h1 {
      font-size: 3rem;
      margin-bottom: 1rem;
    }
    p {
      font-size: 1.25rem;
      margin-bottom: 2rem;
    }
    .cta-button {
      padding: 1rem 2rem;
      background-color: var(--button);
      color: var(--text);
      border: none;
      border-radius: 5px;
      cursor: pointer;
      &:hover {
        background-color: var(--secondary);
      }
    }
  }
}

.features {
  display: flex;
  justify-content: space-around;
  padding: 3rem 0;
  background-color: var(--background);

  .feature-card {
    text-align: center;
    padding: 1rem;
    width: 30%;
    h3 {
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }
    p {
      font-size: 1rem;
    }
  }
}
