@import "../../../styles.scss";

.about-us {
  padding: map-get($spacing, "lg");
  background-color: var(--background);
  color: var(--text);
  min-height: 100vh;

  .company-overview {
    margin-bottom: map-get($spacing, "xl");

    h2 {
      font-size: map-get($font-sizes, "xl");
      font-weight: map-get($font-weights, "bold");
      color: var(--primary);
      margin-bottom: map-get($spacing, "md");
    }

    p {
      font-size: map-get($font-sizes, "md");
      margin-bottom: map-get($spacing, "lg");
    }

    .mission-vision {
      display: flex;
      gap: map-get($spacing, "lg");

      .box {
        background-color: var(--background);
        padding: map-get($spacing, "md");
        border-radius: 8px;
        border: 1px solid var(--border);
        flex: 1;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: var(--hover);
        }

        h3 {
          font-size: map-get($font-sizes, "lg");
          font-weight: map-get($font-weights, "bold");
          margin-bottom: map-get($spacing, "sm");
          color: var(--text);
        }

        p {
          font-size: map-get($font-sizes, "md");
          color: var(--text);
        }
      }
    }
  }

  .team {
    h2 {
      font-size: map-get($font-sizes, "xl");
      font-weight: map-get($font-weights, "bold");
      color: var(--primary);
      margin-bottom: map-get($spacing, "md");
    }

    .team-grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      gap: map-get($spacing, "lg");

      .team-member {
        text-align: center;
        padding: map-get($spacing, "md");
        background-color: var(--background);
        border: 1px solid var(--border);
        border-radius: 8px;
        transition: transform 0.3s ease, background-color 0.3s ease;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

        &:hover {
          transform: scale(1.05);
          background-color: var(--hover);
        }

        img {
          width: 6rem;
          height: 6rem;
          border-radius: 50%;
          margin-bottom: map-get($spacing, "sm");
        }

        h4 {
          font-size: map-get($font-sizes, "lg");
          font-weight: map-get($font-weights, "bold");
          color: var(--text);
          margin-bottom: map-get($spacing, "xs");
        }

        p {
          font-size: map-get($font-sizes, "sm");
          color: var(--text);
          margin-bottom: map-get($spacing, "md");
        }

        .social-icons {
          a {
            color: var(--primary);
            font-size: map-get($font-sizes, "md");
            margin-right: map-get($spacing, "sm");
            transition: color 0.3s ease;

            &:hover {
              color: var(--hover);
            }
          }

          i {
            font-size: map-get($font-sizes, "lg");
          }
        }
      }
    }
  }
}
