<nav class="navbar">
  <div class="navbar-header">
    <div class="logo mr-16" [ngClass]="{ 'hidden': !isSidebarHidden }">
      <img
        [src]="(darkMode$ | async) ? 'assets/images/logo-light.svg' : 'assets/images/logo-dark.svg'"
        alt="Logo" />
    </div>

    <h1 (click)="toggleSidebar()" class="text-2xl font-bold">{{
      selectedBoardTitle }}
      <span class="dropdown-icon" *ngIf="isMobileView">
        {{ isSidebarActive ? '▲' : '▼' }}
      </span>
    </h1>
  </div>

  <div class="flex gap-4">
    <button class="add-task" (click)="openModal()">+ Add New Task
      <img src="assets/images/icon-add-task-mobile.svg" alt="add"
        class="add-task-mobile-icon" />
    </button>
    <div class="flex gap-4">
      <button (click)="toggleDropdown()" class="ellipsis-button">
        <img src="assets/images/icon-vertical-ellipsis.svg" alt="icon" />
      </button>

      <div *ngIf="isDropdownOpen" class="dropdown-menu">
        <ul>
          <li (click)="openEditBoardModal()">Edit Board</li>

          <li (click)="openDeleteBoardModal()" class="delete">Delete Board</li>
        </ul>
      </div>
    </div>
  </div>

</nav>

<div class="sidebar" *ngIf="isSidebarActive" (click)="preventClose($event)">
  <div class="sidebar-content">
    <div class="sidebar-header">
      <h3>All Boards (3)</h3>
    </div>
    <ul class="board-list">
      <li class="board-item active">Platform Launch</li>
      <li class="board-item">Marketing Plan</li>
      <li class="board-item">Roadmap</li>
      <li class="board-item create-new">+ Create New Board</li>
    </ul>

    <div class="theme-switcher">
      <img src="assets/images/icon-light-theme.svg" alt="light" />
      <label class="switch">
        <input type="checkbox" [checked]="darkMode$ | async"
          (click)="toggleTheme()">
        <span class="slider"></span>
      </label>
      <img src="assets/images/icon-dark-theme.svg" alt="dark" />
    </div>
  </div>
</div>
<app-task-modal
  *ngIf="isModalOpen"
  [currentBoardName]="selectedBoardTitle"
  (close)="closeModal()">
</app-task-modal>

<div *ngIf="isEditBoardModalOpen" class="modal-overlay"
  (click)="closeEditBoardModal()">
  <div *ngIf="isEditBoardModalOpen" class="modal-overlay">
    <app-edit-board-modal
      (close)="closeEditBoardModal()"></app-edit-board-modal>
  </div>
</div>

<div *ngIf="isDeleteModalOpen" class="modal-overlay"
  (click)="closeDeleteBoardModal()">
  <div class="modal-content" (click)="preventClose($event)">
    <app-delete-board-modal
      [boardTitle]="selectedBoardTitle"
      (deleteBoard)="deleteBoard()"
      (cancel)="closeDeleteBoardModal()">
    </app-delete-board-modal>
  </div>
</div>
