.navbar {
  @apply flex justify-between items-center p-5 bg-white border-b border-gray-200;
}

.add-task {
  @apply bg-[#635FC7] border-none text-[#fff] px-5 py-2.5 rounded-md cursor-pointer;
  display: flex;
  align-items: center;
}

.add-task-mobile-icon {
  display: none;
}

@media (max-width: 768px) {
  .add-task-mobile-icon {
    display: inline-block;
    margin-left: 8px;
  }

  .add-task {
    font-size: 0;
  }

  .add-task-mobile-icon {
    font-size: 16px;
  }
}

.sidebar {
  @apply fixed top-16 right-0 bg-white shadow-lg rounded-lg w-72 z-50 transition-transform ease-in-out duration-300;
}

.sidebar-active {
  transform: translateX(0);
}

.sidebar-inactive {
  transform: translateX(100%);
}

.sidebar-content {
  @apply p-4 flex flex-col items-start;
}

.sidebar-header h3 {
  @apply text-gray-500 text-sm uppercase font-bold mb-4;
}

.board-list {
  @apply list-none w-full;
}

.board-item {
  @apply mb-3 py-2 px-4 rounded-lg flex items-center bg-[#f0f0ff] text-gray-700;
}

.board-item.active {
  @apply bg-[#635fc7] text-white;
}

.create-new {
  @apply text-[#635fc7] cursor-pointer;
}

.navbar-header {
  @apply flex items-center cursor-pointer;
  width: 70%;
}

.dropdown-icon {
  @apply ml-2 text-lg text-gray-500;
}

.sidebar {
  @apply fixed top-16 right-4 bg-white shadow-lg rounded-lg w-72 z-50;
}

.theme-switcher {
  @apply mt-auto flex items-center justify-between px-12;
}

.switch {
  @apply relative inline-block w-[34px] h-[20px];
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  @apply absolute cursor-pointer top-0 left-0 right-0 bottom-0 bg-[#ccc] transition-all  rounded-full;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  @apply bg-[#6c63ff];
}

input:checked + .slider:before {
  @apply translate-x-[14px];
}

@media (min-width: 768px) {
  .sidebar {
    @apply hidden;
  }
}

.logo.hidden {
  display: none !important;
}

.logo {
  display: block;
}

.add-task {
  background-color: #635fc7;
  color: white;
  padding: 10px 20px;
  border-radius: 30px;
  cursor: pointer;
}

.add-task-mobile-icon {
  display: none;
}

@media (max-width: 768px) {
  .add-task {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .add-task-mobile-icon {
    display: inline-block;
  }
}

.ellipsis-button {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 50px;
  right: 0;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.dropdown-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 8px 0;
}

.dropdown-menu li {
  padding: 8px 16px;
  cursor: pointer;
}

.dropdown-menu li.delete {
  color: red;
}

app-edit-board-modal {
  background: white;
  padding: 20px;
  border-radius: 8px;
  position: relative;
  z-index: 10;
}
