<div class="sidebar">
  <div class="logo">
    <img
      [src]="(darkMode$ | async) ? 'assets/images/logo-light.svg' : 'assets/images/logo-dark.svg'"
      alt="Logo" />
  </div>

  <ul class="board-list">
    <li class="pb-4 px-5 all-boards">ALL BOARDS (3)</li>

    <li *ngFor="let board of boards">
      <a [ngClass]="{ 'active-board': isBoardSelected(board) }"
        (click)="selectBoard(board)"
        class="flex gap-6 items-center items-link">
        <img src="assets/images/icon-board.svg" alt="board" class="h-4 w-4" />
        {{ board }}
      </a>
    </li>

    <li>
      <a routerLink="#" class="flex gap-6 items-center items-link-create">
        <img src="assets/images/icon-board.svg" alt="board" class="h-4 w-4" />
        + Create New Board
      </a>
    </li>
  </ul>

  <div class="theme-switcher">
    <img src="assets/images/icon-light-theme.svg" alt="light" />
    <label class="switch">
      <input type="checkbox" [checked]="darkMode$ | async"
        (click)="toggleTheme()">
      <span class="slider"></span>
    </label>
    <img src="assets/images/icon-dark-theme.svg" alt="dark" />
  </div>

  <button class="hide-sidebar flex items-center gap-6 justify-center">
    <img src="assets/images/icon-hide-sidebar.svg" alt="hide-sidebar" />
    <span>Hide Sidebar</span>
  </button>
</div>
