<div class="sidebar">
  <div class="logo">
    <h1>kanban</h1>
  </div>
  <ul class="board-list">
    <li><a href="#">Platform Launch</a></li>
    <li><a href="#">Marketing Plan</a></li>
    <li><a href="#">Roadmap</a></li>
    <li><a href="#">+ Create New Board</a></li>
  </ul>
  <div class="theme-switcher">
    <img src="assets/images/icon-light-theme.svg" alt="light" />
    <label class="switch">
      <input type="checkbox" [checked]="darkMode$ | async"
        (click)="toggleTheme()">
      <span class="slider"></span>
    </label>
    <img src="assets/images/icon-dark-theme.svg" alt='dark' />
  </div>
  <button class="hide-sidebar">Hide Sidebar</button>
</div>
