.sidebar {
  @apply border-r border-gray-200 fixed w-[250px] h-screen bg-[#fff] flex flex-col top-0 left-0 z-[1000] transition-transform duration-300 ease-in-out;
}

.sidebar.active {
  @apply translate-x-[-100%];
}

.logo {
  @apply p-5;
}

.board-list {
  @apply list-none p-0 my-5 py-5;
}

.items-link {
  @apply hover:rounded-r-full hover:bg-[#635FC7] py-3 px-5 text-[#828FA3] no-underline font-bold hover:text-white cursor-pointer mr-4;
}

.active-board {
  @apply bg-[#635FC7] rounded-r-full text-white;
}

.all-boards {
  @apply text-[#828FA3] font-bold;
}

.board-list li {
  @apply mb-2.5;
}

.items-link-create {
  @apply text-[#635FC7] hover:rounded-r-full hover:bg-[#635FC7] py-3 px-5 no-underline font-bold hover:text-white mr-4;
}

.theme-switcher {
  @apply mt-auto flex items-center justify-between px-12;
}

.switch {
  @apply relative inline-block w-[34px] h-[20px];
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  @apply absolute cursor-pointer top-0 left-0 right-0 bottom-0 bg-[#6c63ff] transition-all  rounded-full;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  @apply bg-[#6c63ff];
}

input:checked + .slider:before {
  @apply translate-x-[14px];
}

.hide-sidebar {
  @apply bg-transparent border-none text-[#828FA3] cursor-pointer mt-5 font-bold;
}

.show-sidebar {
  @apply bg-[#635FC7] text-white fixed bottom-[5%] left-0 cursor-pointer h-[40px] w-[50px] flex items-center justify-center rounded-r-full;
  transform: translateY(-50%);
  border: none;
}

.show-sidebar img {
  @apply h-4 w-4;
}

@media screen and (max-width: 768px) {
  .sidebar {
    @apply translate-x-[-100%];
  }

  .sidebar.active {
    @apply translate-x-0;
  }
}
