.app-container {
  @apply flex min-h-screen;
}

.sidebar {
  @apply w-[250px] transition-all duration-300 ease-in-out;
}

.main-layout {
  @apply flex-1 transition-all duration-300 ease-in-out;
}

.sidebar.collapsed {
  @apply w-0 p-0 overflow-hidden;
}

.full-width {
  @apply w-full;
}

app-navbar {
  @apply bg-white shadow-lg;
  position: fixed;
  top: 0;
  left: 250px;
  width: calc(100% - 250px);
  z-index: 1000;
  height: 60px;
  transition: left 0.3s ease-in-out, width 0.3s ease-in-out;
}

.sidebar.collapsed + .main-layout app-navbar {
  left: 0;
  width: 100%;
}

.main-layout {
  padding-top: 85px;
}

@media screen and (max-width: 768px) {
  .app-container {
    @apply flex-col;
  }

  .sidebar {
    @apply hidden;
  }

  .main-layout {
    @apply w-full mt-20 p-4;
  }

  app-navbar {
    left: 0;
    width: 100%;
  }
}
