<div class="modal-overlay" (click)="onOverlayClick($event)">
  <div class="modal-content">
    <h2 class="pb-3 font-bold">Add New Board</h2>
    <label for="board-name">Name</label>
    <input
      id="board-name"
      type="text"
      class="input-create"
      placeholder="e.g. Web Design"
      [(ngModel)]="boardName" />

    <label>Columns</label>
    <div *ngFor="let column of columns; let i = index; trackBy: trackByFn"
      class="column">
      <input
        type="text"
        class="input-create"
        [(ngModel)]="column.name"
        placeholder="Enter column name" />
      <button type="button" (click)="removeColumn(i)">&#x2715;</button>
    </div>

    <button class="add-column" type="button" (click)="addColumn()">+ Add New
      Column</button>

    <button class="create-board" type="button" (click)="createBoard()">Create
      New Board</button>
  </div>
</div>
